body {
    background-color: black;
    color: white;
    word-wrap: break-word;
}

#tweet_table table {
    margin: 16px 32px 32px 32px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 4px;
}

#tweet_table img {
    width: 40%;
    height: auto;
    margin-left: 32px;
}

#tweet_table td {
    font-size: 32pt;
}

#qr_code table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
}

#qr_code td {
       border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
}

#qr_code td.black { background-color: #000; }
#qr_code td.white { background-color: #fff; }

h1 {
    color: white;
}

img {
    width: 64px;
    height: auto;
}

#topic {
    float: right;
    margin-right: 32px;
    margin-top: 32px;
}

#title div {
    display: inline-block;
}

#title {
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: -16px;
}

#time {
    margin-top: -16px;
    margin-right: 32px;
}